# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python virtual environments
.venv/
venv/
env/
ENV/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# FFmpeg outputs / video files
files/
signed-*
verify-*

# JSON metadata files (optional, if you don't want to track test files)
*.json
